<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="LOG_PATH" value="c:/logs/front" />
    <conversionRule conversionWord="clr"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <property name="log_patteren"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight %-5level [%thread] %logger %msg%n"></property>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>${log_patteren}</pattern>
        </encoder>
    </appender>

    <appender name="daily"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/daily.log</file>
        <encoder>
            <pattern>${log_patteren}</pattern>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>
                ${LOG_PATH}/daily.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <logger name="org.springframework.jndi" level="error"></logger>

    <springProfile name="dev,test">
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="daily" />
        </root>
    </springProfile>
</configuration>