<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qs.persist.WindMapper">
  <resultMap id="BaseResultMap" type="qs.model.po.Wind">
    <id column="windId" jdbcType="INTEGER" property="windId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    windId, name, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wind
    where windId = #{windId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wind
    where windId = #{windId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="windId" keyProperty="windId" parameterType="qs.model.po.Wind" useGeneratedKeys="true">
    insert into wind (name, createTime)
    values (#{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="windId" keyProperty="windId" parameterType="qs.model.po.Wind" useGeneratedKeys="true">
    insert into wind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="qs.model.po.Wind">
    update wind
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where windId = #{windId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="qs.model.po.Wind">
    update wind
    set name = #{name,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where windId = #{windId,jdbcType=INTEGER}
  </update>
</mapper>