<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"></meta>
	<meta name="viewport"
		  content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
	<title>Error</title>
	<style type="text/css">
		.error-type {
			font-size: 4.5rem;
			margin: 9rem  auto 4.5rem;
		}

		.error-issue {
			font-size: 2.5rem;
			margin: 4.5rem auto;
		}

		body {
			text-align: center;
		}
	</style>
</head>
<body>
<div class="error-type" th:text="${status}?:'999'"></div>
<div class="error-issue" th:text="${message}?:'UNKNOWN ERROR'"></div>
</body>
</html>
