<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>index</title>
</head>
<body>
<h1>welcome to spring world</h1>
<div th:text="${message?:''}" id="msg"></div>
<div th:unless="${#httpServletRequest.remoteUser eq null}">
    welcome,<span th:text="${#httpServletRequest.remoteUser}"></span>
    <form th:action="@{/logout}" method="post"
          style="display: inline-block; padding-left: 10px;">
        <a href="#" onclick="this.parentNode.submit()">logout</a>
    </form>
</div>
<div th:if="${off>0}" th:text="|↓${off}|">    
</div>
<div th:if="${off==0}" th:text="|暂无|">
</div>
<div th:if="${off<0}" th:text="|↑${off}|">
</div>
<div id="qr"></div>
<div id="container" style="display:inline-block;width:800px;height:600px;position:relative;border:1px solid #333333;">
    <div class="unit"
         style="display:inline-block;width:100px;height:100px;position:absolute;left:50px;top:50px;border:1px solid #93D1FF;">

    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script th:src="@{/js/jquery.qrcode.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#qr').qrcode({
            render: "canvas", //也可以替换为table,canvas
            width: 100,
            height: 100,
            // foreground: "#C00",
            // background: "#333",
            text: 'skdljfaksdjf',
            toImg: true
        });

        $('#container').on('click', function (e) {

            var content=$(e.target).is('.unit')?'unit clicked':'container clicked';

            $('#msg').append('<div>' +  content+ '</div>');
        })
    });
</script>
</body>
</html>